/vendor
/node_modules
/public/build
/public/hot

/storage/*.key

.env
.env.*
!.env.example

.phpunit.result.cache

_cookie.txt
_debug_cookie.php
_tc3.txt
_test2.php
_test3.php
_test4.php

/.idea
/.vscode

npm-debug.log
yarn-error.log